

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #4B83FF;
    --secondary-color: #F2F7FF;
}

body {
    background-color: var(--primary-color);
   
}

header * {
    color: var(--secondary-color);
}

.tshirt {
    border-radius: 10px;
    opacity: 0.8;
}

.tshirt:hover {
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform: translateY(-5px);
    opacity: 1;
}

li a:hover {
color:white;
transition: 0.5s ease all;
}



* {
    user-select: none;
}

